<div class="row px-0 mx-0">
    <nav class="col-md-12 navbar navbar-expand-lg navbar-dark py-auto mt-2 px-0">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContainer"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">MovieWeb</a>
        <div class="collapse navbar-collapse" id="navContainer">
          <!-- Menu content -->
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="about.html">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="../views/contact.html">Contact</a>
            </li>
          </ul>
          <button class="btn btn-info my-2 mr-2 my-sm-0" id="signup" type="button" data-toggle="modal" data-target="#signUn">Sign up</button>
        </div>
     </div>
    </nav>
  </div>
