<div class="row px-0 mx-0" id="particles-js">
    <nav class="col-md-12 navbar navbar-expand-lg navbar-dark py-auto mt-2 px-0">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContainer"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="userhome.html">MovieWeb</a>
        <div class="collapse navbar-collapse" id="navContainer">
          <!-- Menu content -->
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="userhome.html">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="userprofile.html">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contact.html">Contact</a>
            </li>
          </ul>
          <span class="pr-3" id="logName"> Welcome </span>
          <button class="btn btn-info my-2 mr-2 my-sm-0" id="signout" type="button">Sign out</button>
        </div>
      </div>
    </nav>
  </div>